/* Barra de navegación */
.navBar{
    display: flex;
    position: sticky;
    width: 100%;
    justify-content: space-between;
    z-index: 999;
}

.navBar .logoHorAO{
    height: 10rem;
}

.navbar-title{
    text-align: center;
    padding: 2rem 0;
}

.cartWidget {
    display: flex;
    align-content: center;
    padding: 3rem;
}

.navBar .navbar-navbar .navbar-navlink{
    justify-content: space-evenly;
}